@charset "utf-8";
/* CSS Document */

.week {
    float:left;
    margin:5px;
    width:900px;
    padding:5px 15px 15px 15px;
    border:5px outset #999999;
}
.week .day {
    float:left;
    width:150px;
}
.week .day .time {
    clear:left;
    width:138px;
    height:40px;
    padding:3px;
    display:block;
    text-align:center;
    border:3px inset #999999;
    background-color:#BBBBBB;
}
.week .day .bord {
    font-size:20px;
    font-weight:bold;
    background-color:#8195AE;
}
.week .day .open {
    background-color:transparent !important;
}
.week .day .taken {
    background-color:#ff605b !important;
}
.week .day .yours {
    background-color:#369f04 !important;;
}
.week .day .temp {
    background-color:#0080ff !important;;
}
.week .day .time ul {
	/*margin:2px;*/
}
.week .day .time ul li {
	list-style:none;
}
.week .day .time ul .subtime {
	font-size:14px;
	font-weight:bold;
}
.week .day .time ul .availability {
	font-size:12px;
	font-weight:bold;
}
.week .day .time ul .waiting {
	font-size:12px;
}

.dateInput {
    width:900px !important;
    padding-right:357px;
}


